{% extends 'base.html' %}
{% block content %}
<script>

  window.onload = function(){
  var button = document.getElementById('modal');
  setInterval(function(){
      button.click();
  },60000);  // this will make it click again every 1000 miliseconds
};

</script>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <button class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>
  <h2>Failure Rate</h2>
<canvas class="my-4 w-100" id="myChart" width="900" height="210"></canvas>
    <h2>On Duty</h2>
        <div class="table-responsive">
        <table class="table table-striped table-sm">
                        <thead>
                          <tr>
                            <th>Site</th>
                            <th>IC Number</th>
                            <th>Name</th>
                            <th>Pass Number</th>
                            <th>Next Clock In</th>
                            
                          </tr>
                        </thead>                        
                        <tbody>
                            {% for name in data %}
                            {% if name.SecAlert == True %}
                            <tr style="background-color: #fc4d2e !important">                          
                            <td>{{ name.site }}</td>
                            <td>{{ name.ic }}</td>
                            <td>{{ name.name }}</td>
                            <td>{{ name.passNum }}</td>
                            <td>{{ name.FirTime|time:"H:i" }}, {{ name.FirTime|date:"d M Y" }}</td> 
                            <!--<td><button style="background-color:rgba(255, 255, 255, 0);border: transparent" type="submit"/>&#x2714;</button></td> -->
                          </tr>
                          {% elif name.SecAlert == False %}
                            {% if name.FirAlert == True %}
                            <tr style="background-color: #fb826c !important">                          
                            <td>{{ name.site }}</td>
                            <td>{{ name.ic }}</td>
                            <td>{{ name.name }}</td>
                            <td>{{ name.passNum }}</td>
                            <td>{{ name.FirTime|time:"H:i" }}, {{ name.FirTime|date:"d M Y" }}</td> 
                            <!--<td><button style="background-color:rgba(255, 255, 255, 0);border: transparent" type="submit"/>&#x2714;</button></td> -->
                          </tr>
                            {% endif %}
                          {% endif %}
                          {% endfor %}
                            {% for name in data %}
                            
                          {% endfor %}
                          {% for name in data %}
                          {% if name.FirAlert == False %}
                          <tr style="background-color: rgb(0, 245, 12) !important">
                              <td>{{ name.site }}</td>
                              <td>{{ name.ic }}</td>
                              <td>{{ name.name }}</td>
                              <td>{{ name.passNum }}</td>
                              <td>{{ name.FirTime|time:"H:i" }}, {{ name.FirTime|date:"d M Y" }}</td>
                              
                              {% endif %}
                          </tr>
                          {% endfor %}
                        </tbody>                     
                        
                      </table>
                    </div>


                    <!--<iframe name="frame" style="display: none"></iframe>
                    <form action="/abc/" id="form1" method = 'POST' target="frame" style="display: none">{% csrf_token %}
                    <input id ="modal" type="submit"  /></form>-->
  {% endblock %}