{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Register</h1>
</div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">
                <strong>Attention!</strong> {{ message }}
        </div>     
        {% endfor %}
        {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-sm">
                <div class="col-12 col-md-8">
                    <form action="/reg/" method = 'POST'> {% csrf_token %}   
                        <table id="table">
                            <tr>
                                <th>Site:&nbsp;</th>
                                <td><select name="site" class="form-control selectpicker" style="width: 200px; display:inline-block;"required="">
                                        {% include './sites.html' %} 
                                </select>
                                </td>
                            </tr>
                            <tr>
                                <th><br>IC Number:&nbsp;</th>
                                <td><br><input type="text" name="ic" value="" autofocus required maxlength="9"></td>
                            </tr>
                            <tr>
                                <th><br>Name:&nbsp;</th>
                                <td><br><input type="text" name="name" value=""></td>
                            </tr>
                            <tr>
                                <th><br>Pass Number:&nbsp;</th>
                                <td><br><input type="text" name="passnum" value=""></td>
                            </tr>
                            <tr>
                                <th><br><input id="modal" type="submit" value="submit"/></th>
                            </tr>
                        </table>
                    </form>
                </div>
        </table>            
   
    </div>
{% endblock %}