{% extends 'base.html' %}
{% block content %}
<script language="JavaScript">
    function toggle(source) {
  checkboxes = document.getElementsByName('tag');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
    </script>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Register</h1>
</div>
{% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
                {{ message }}
        </div>     
        {% endfor %}
        {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-sm">
                <div class="col-12 col-md-8">
                        
                      <form action="/status/" method = 'POST'> {% csrf_token %}
                        <table id="table">
                            <tr>
                                <th>Site:&nbsp;</th>
                                <td> 
                                    <select name="site" class="form-control selectpicker" style="width: 200px; display:inline-block;" onchange='if(this.value != 0) { this.form.submit(); }'>
                                        {% include './sites.html' %}
                                </select>
                                &nbsp;&nbsp;&nbsp;<label>Enter time interval: </label> <input id="intNumber" type="number" name="alarm" value="" min="1"> mins
                                </td>
                            </tr>
                        </table>
                    
                    <br>
                    <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                            <thead>
                                              <tr>
                                                <th><input type="checkbox" onClick="toggle(this)" /> Select All</th>                                                 
                                                <th>Site</th>
                                                <th>IC Number</th>
                                                <th>Name</th>
                                                <th>Pass Number</th>
                                                <th>Next Clock In</th>
                                                <th>Action</th>
                                              </tr>
                                            </thead>
                                            
                                            <tbody>
                                                    
                                                {% for name in data %}
                                                {% if name.activate == True %}
                                              <tr style="background-color: rgb(0, 245, 12) !important">  
                                                <td><input type="checkbox" name="tag" value="{{ name.ic }}"></td>
                                                <td>{{ name.site }}</td>
                                                <td>{{ name.ic }}</td>
                                                <td>{{ name.name }}</td>
                                                <td>{{ name.passNum }}</td>
                                                <td>{{ name.time|time:"H:i:s" }}, {{ name.time|date:"d M Y" }}</td>
                                                
                                                <td>
                                                    <button style="background-color:rgba(255, 255, 255, 0);border: transparent" type="submit"/>&#x2699;</button>
                                                
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            {% for name in data %}
                                            {% if name.activate == False %}
                                            <tr>
                                                
                                                
                                                <td></td>
                                                <td>{{ name.site }}</td>
                                                <td>{{ name.ic }}</td>
                                                <td>{{ name.name }}</td>
                                                <td>{{ name.passNum }}</td>
                                                <td>{{ name.time|time:"H:i:s" }}, {{ name.time|date:"d M Y" }}</td>
                                                <td></td>
                                                
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            </tbody>                                            
                                          </table>
                                        </div>
                                        <div style="float: right;">
                                        <button name="checkIn" type="submit" class="btn btn-info"/>Manual Check In</button>
                                        <button name="alarmbtn"  type="submit" class="btn btn-info"/>Submit</button></div>
                </form></div>
        </table>
        
        </div>
{% endblock %}